/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #eeeeee;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 100px;
  --image-margin: 1rem;
  --font-family: "Inter";
  --font-family-header: "Inter";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

#main-table{
  font-weight: bold;
  border-spacing: 0;
  width: 100%;
}

#main-table .row{
  border-bottom: 1px solid #22b473;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#main-table .header{
  border-bottom: 1px solid #22b473;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

#main-table .info {
  font-weight: 400;
  max-width: 650px;
  padding-left: 75px;
  font-size: 14px;
  text-align: justify;
  display: none;
}

#main-table .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.id {
  width: 75px;
}

.type, .external {
  flex: 1;
}

.name {
  flex: 3;
}

.top .type {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  align-content: center;
}

#main-table .external a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

#main-table a:hover {
  text-decoration: underline;
}

.phrase{
      font-size: 12px;
    color: #21b573;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Our remix on glitch button */
.btn--remix {
  font-family: Inter;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: Inter;
  background-color: var(--color-bg);
}

a {
  color:#22b473 !important;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: flex;
  margin: 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

/* Very light scaling for our illustration */
.title {
  color: #2800FF;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
.mirror {
  font-size: 12px;
  text-transform: uppercase;
  background: none;
  border: none;
  text-decoration: underline;
  width: auto;
}

/* Subheading */
h2 {
  color: #2800FF;
}

body{
  color: #22b473;
}
/* Button rotate
- Toggling this class on and off will rotate it forward and back
- The button transition property above determines the speed of rotation (500ms)
*/
.rotated {
  transform: rotate(360deg);
}

table {
  width: 100%;
  text-align: left;
}

th{
  text-transform: uppercase;
  font-size: 10px;
}

.essay{
  max-width: 800px;
  text-align: justify;
  font-size: 16px;
}

#detail table {
  border-bottom: 2px solid;
  padding: 10px 0;
  position: sticky;
  top: 0px;
  background: #edeeed;
}

.details-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

h2{
  font-size: 10px;
  text-transform: uppercase;
  color:#21b573;
}

.summary{
  text-transform: uppercase;
  font-size: 12px;
  max-width: 200px;
  text-align: justify;
  margin-top: 1em;
  margin-left: 1em;
}

.summary .info {
  text-align: justify;
  margin-bottom: 10px;
  width: 100%;
}

.summary .poem {
  font-size: 20px;
  text-transform: none;
}

.profile .summary {
  max-width: inherit;
  width: 50%;
}

.profile .essay {
  width: 40%;
}

.backtohome {
  top: 0;
  right: 0;
  z-index: 100;
}

.image {
  width: 100%;
  border-top: 3px solid;
  padding-bottom: 10px;
}

.backtohome img{
  width: 40px;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .id {
    width: 50px;
  }

  .type {
    display: none;
  }

  .top .id, .top .name, .top .external {
    font-size: 11px;
  }

  #main-table .info {
    padding-left: 0px;
    font-size: 12px;
  }

  #main-table .row{
    padding: 20px 0;
  }

  .external {
    text-align: right;
  }

  .profile .details-section {
    flex-direction: column-reverse;
  }

  .profile .summary, .profile .essay {
    width: 100%;
    margin-left: 0em;
  }
}