img {
  object-fit: contain;
  height: 100%;
  max-width: 600px;
  width: 100%;
  padding: 10px 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2b2929;
  margin: 0;
  width: 100dvw;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

