img {
  object-fit: contain;
  padding-right: 20px;
}

body {
  display: flex;
  background: #2b2929;
  height: 100vh;
  margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}